@charset "UTF-8";

/* section01 */
#visual.sections.section_01{ overflow: hidden; height: 100vh;}
#visual.sections.section_01:after{ position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; background: var(--color-k-050);}
#visual.sections.section_01 > .width_con{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
#visual.sections.section_01 > .width_con .title_con{ text-shadow: 0 0 var(--mrgn-x2) var(--color-k-035);}
#visual.sections.section_01 > .width_con .title_con h3{}
#visual.sections.section_01 > .width_con .title_con h2{}
#visual.sections.section_01 > .width_con .title_con h4{}
#visual.sections.section_01 > .width_con .title_con h5{}
#visual.sections.section_01 > .width_con .title_con > h3,
#visual.sections.section_01 > .width_con .title_con > h2,
#visual.sections.section_01 > .width_con .title_con > h4,
#visual.sections.section_01 > .width_con .title_con > h5 { animation-name: text; animation-delay: 1.8s; animation-duration: 1.3s; animation-fill-mode: both; animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1); }
#visual.sections.section_01 > .width_con .section01_box { position: absolute; left: 0; bottom: -145px; width: 100%; opacity: 0; animation: blurredBanner 1s 2.8s ease-in-out forwards; }
#visual.sections.section_01 > .width_con .section01_box > .box { position: relative; padding: var(--mrgn-x2) !important; box-sizing: border-box; }
#visual.sections.section_01 > .width_con .section01_box > .box > h3 { padding-bottom: var(--mrgn-x2); }
#visual.sections.section_01 > .width_con .section01_box > .box > h3::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-sub); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left { float: left; width: calc(67px * 4 + var(--mrgn-x2) * 3); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right { float: right; width: calc(67px * 8 + var(--mrgn-x2) * 7); background: var(--color-point); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc { position: relative; padding: var(--mrgn) 0; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-w-050); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc:last-child { padding-bottom: 0;}
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc:last-child::after { width: 0;}
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc > div { display: inline-block; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .number { width: 40px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .points { float: right; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .number h4,
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .points h4 { font-weight: 700; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right { height: 247.75px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half { width: 50%; display: inline-block; float: left; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > h3 { padding-bottom: var(--mrgn-x2); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > h3::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-sub); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div { display: inline-block; padding-top: var(--mrgn); margin-right: var(--mrgn); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div > .value { font-weight: 700; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div > span { display: block; }

/* visual animation */
@keyframes text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes blurredBanner {
	0% {
		filter: blur(10px);
	}
	60% {
		opacity: 1;
		filter: blur(10px);
	}
	100% {
		backdrop-filter: blur(10px);
		filter: blur(0px);
		opacity: 1;
	}
}


/* ad_01 section02 */
#ad_01.sections.section_02 { background: url(../img/bg_pattern_carbon.jpg) repeat; }
#ad_01.sections.section_02 > .width_con { padding: var(--mrgn) 0; }
#ad_01.sections.section_02 > .width_con > ul > li.cells { vertical-align: middle; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > strong { line-height: 60px; font-size: 2em; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div { position: relative; display: inline-block; width: 60px; height: 60px; background: #ff7300; border-radius: 5px; box-shadow: inset 0 1px 2px 0 #ccc, 0 4px 12px -4px rgba(0, 0, 0, 0.75); font-weight: 500; text-align: center; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div::before { position: absolute; top: 50%; left: 50%; content: ""; width: calc(100% - 2px); height: 100%; transform: translate(-50%, -50%); background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 49%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);-webkit-mix-blend-mode: overlay; mix-blend-mode: screen;}
#ad_01.sections.section_02 > .width_con > ul > li.cells > div::after { position: absolute; top: 50%; left: 50%; content: ""; width: calc(100% - 16px); height: 6px; transform: translate(-50%, -50%); box-shadow: 1px 0 0 0 #999, 2px 0 0 0 #fff, 3px 0 0 0 #000, -1px 0 0 0 #000, -2px 0 0 0 #fff, -3px 0 0 0 #999; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div > h3 { line-height: 60px; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div > span { position: absolute; left: 50%; bottom: 2px; color: var(--color-w-085); transform: translateX(-50%); }


/* driver section03  */
#driver.sections.section_03 { position: relative; background: url(../img/bg_lando-cover-2024.jpg) no-repeat left bottom; overflow: hidden;}
#driver.sections.section_03 > .slide_toggle { position: absolute; right: 0; top: 0; width: 53px; height: 100%; background: var(--color-point); text-wrap: nowrap; cursor: pointer; transition: all .3s ease-in-out; box-shadow: 0 0 20px 0 var(--color-k-085); border-radius: 10px 0 0 10px; }
#driver.sections.section_03 > .slide_toggle .arrow {position: absolute; top: 50%; left: -30px; width: 30px; height: 60px; transform: translateY(-50%); background: var(--color-point); text-align: center; border-radius: 10px 0 0 10px; box-shadow: -10px 0 20px -10px var(--color-k-085); }
#driver.sections.section_03 > .slide_toggle .arrow::before { position: absolute; content: ''; width: 10px; height: 10px; right: 0; top: -10px; background-image: radial-gradient(circle at 0% 0%, transparent 9.9px, var(--color-point) 10px);}
#driver.sections.section_03 > .slide_toggle .arrow::after { position: absolute; content: ''; width: 10px; height: 10px; right: 0; bottom: -10px; background-image: radial-gradient(circle at 0% 100%, transparent 9.9px, var(--color-point) 10px); }
#driver.sections.section_03 > .slide_toggle .arrow > i { font-size: 25px; line-height: 60px; }
#driver.sections.section_03 > .slide_toggle > h3 { position: absolute; right: -117px; top: 345px; transform: rotate(90deg); }
#driver.sections.section_03 > .width_con {}
#driver.sections.section_03 > .width_con ul.v_con {}
#driver.sections.section_03 > .width_con ul.v_con > li.cells { vertical-align: middle; }
#driver.sections.section_03 > .width_con ul.v_con > li.cells .title_con {}
#driver.sections.section_03 > .width_con ul.v_con > li.cells .box { position: relative; float: right; width: 66%; }
#driver.sections.section_03 > .width_con ul.v_con > li.cells .box::after { content: ''; position: absolute; right: 39px; bottom: 62px; width: 130px; height: 100px; background: url(../img/noris_logo.png) no-repeat; background-size: cover; }
#driver.sections.section_03 > .width_con ul.v_con > li.cells .box .box_title > h3 {}
#driver.sections.section_03 > .width_con ul.v_con > li.cells .box ul.v_con > li.cells {  }
#driver.sections.section_03 > .width_con ul.v_con > li.cells .box ul.v_con > li.cells:first-child > h4 { color: var(--color-w-065); }


/* MCL38 section04 */
#machine.sections.section_04 { background: #000; }
#machine.sections.section_04 > .width_con { padding-bottom: var(--mrgn-x4); }
#machine.sections.section_04 > .machine_wrap { position: relative; background: url(../img/bg_machine.jpg) no-repeat; background-size: cover; height: 1080px; }
#machine.sections.section_04 > .machine_wrap::before { position: absolute; content: ''; left: 0; top: 0; width: 100%; height: 30%; background: linear-gradient(var(--color-k-085), var(--color-k-000)) 90%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns {}
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button { color: var(--color-point); background: #000; border: 2px solid var(--color-point); position: absolute; transition: all .25s linear; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button:hover { color: var(--color-sub); border-color: #ff9843; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_01 { left: 22%; top: 162%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_02 { left: 44%; top: 143%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_03 { left: 29%; top: 194%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_04 { left: 48%; top: 187%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_05 { left: 60%; top: 203%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.btn_06 { left: 71%; top: 227%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.selected { border-radius: 50%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.selected::before { position: absolute; content: ''; background: var(--color-point); left: 50%; top: 50%; width: 10px; height: 10px; border-radius: 50%; transform: translate(-50%, -50%); }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.selected::after { position: absolute; content: ''; left: 50%; top: 50%; width: 70px; height: 70px; border: 6px solid var(--color-point); border-radius: 50%; animation: circle 1.5s infinite; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > button.selected span { display: none; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_desc { position: absolute; left: 0; top: 0; opacity: 0; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_desc.selected { opacity: 0; animation: blurredBanner .5s ease-in-out forwards; }

/* machine btn animation */
@keyframes circle {
	0%, 100% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(.5);
	}
	30% {
		opacity: 1;
	}
	60% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(1);
	}
}


/* store section05 */
#store.sections.section_05 { background: #181818; }
#store.sections.section_05 > .width_con {}
#store.sections.section_05 > .width_con > ul.v_con { padding-bottom: var(--mrgn-x2); }
#store.sections.section_05 > .width_con > ul.v_con > li.cells { border-radius: 10px; cursor: pointer; transition: all .25s ease-in-out; overflow: hidden; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:hover:after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 4px; background: var(--color-point); transition: inherit; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(1) { background: url(../img/card_store01.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(1):hover { background: url(../img/card_store02.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(2) { background: url(../img/card_store03.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(2):hover { background: url(../img/card_store04.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(3) { background: url(../img/card_store05.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(3):hover { background: url(../img/card_store06.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(4) { background: url(../img/card_store07.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(4):hover { background: url(../img/card_store08.jpg) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > .shop_now { display: inline-block; text-align: center; border: 2px solid var(--color-sub); background: #000; }


/* academy section06 */
#academy.sections.section_06 { background: url(../img/bg_abstract.jpg) no-repeat; background-size: cover; background-attachment: fixed; }
#academy.sections.section_06 > .width_con {}
#academy.sections.section_06 > .width_con > ul.v_con {}
#academy.sections.section_06 > .width_con > ul.v_con > li.cells {}
#academy.sections.section_06 > .width_con > ul.v_con > li.cells > .read_more { display: inline-block; text-align: center; border: 2px solid var(--color-sub); background: #000; margin-top: var(--mrgn-x2) !important; }
#academy.sections.section_06 > .academy_right { position: absolute; right: 0; top: 0; width: 50%; height: 100%; background: url(../img/bg_academy.jpg) no-repeat; border-radius: 0 0 0 50px; }
#academy.sections.section_06 > .academy_right > i { position: absolute; left: 40px; bottom: 40px; font-size: 4em; color: var(--color-point); cursor: pointer; }
#academy.sections.section_06 > .academy_right > i::after { position: absolute; content: ''; left: 50%; top: 50%; width: 80px; height: 80px; border: 3px solid var(--color-point); border-radius: 50%; animation: circle 1.5s infinite; }


#.sections.section_07{}
#.sections.section_08{}
#.sections.section_09{}
#.sections.section_10{}


#contact.sections.section_11{ overflow: hidden; opacity: 1;}
#contact.sections.section_11:before{ position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; background: var(--color-point); z-index: 1; opacity: .5; -webkit-mix-blend-mode: hue; mix-blend-mode: hue;}
#contact.sections.section_11 .width_con{ z-index: 2;}
#contact.sections.section_11 .width_con .title_con{}


#.sections.section_12{}