@charset "UTF-8";

/* section01 */
html.loading #visual.sections.section_01 > .width_con .title_con { display: none; }
html.loading #visual.sections.section_01 > .width_con .section01_box { display: none; }
#visual.sections.section_01{ overflow: hidden; height: 100vh;}
#visual.sections.section_01:after{ position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; background: var(--color-k-050);}
#visual.sections.section_01 > .width_con{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
#visual.sections.section_01 > .width_con .title_con{ text-shadow: 0 0 var(--mrgn-x2) var(--color-k-035); animation-name: text; animation-delay: 1.8s; animation-duration: 1.3s; animation-fill-mode: both; animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);}
#visual.sections.section_01 > .width_con .title_con h3 {}
#visual.sections.section_01 > .width_con .title_con h2 {}
#visual.sections.section_01 > .width_con .title_con h4 {}
#visual.sections.section_01 > .width_con .title_con h5 {}
#visual.sections.section_01 > .width_con .title_con > h3,
#visual.sections.section_01 > .width_con .title_con > h2,
#visual.sections.section_01 > .width_con .title_con > h4,
#visual.sections.section_01 > .width_con .title_con > h5 {}
#visual.sections.section_01 > .width_con .section01_box { position: absolute; left: 0; bottom: -145px; width: 100%; opacity: 0; animation: blurredBanner 1s 2.8s ease-in-out forwards; }
#visual.sections.section_01 > .width_con .section01_box > .box { position: relative; padding: var(--mrgn-x2) !important; box-sizing: border-box; }
#visual.sections.section_01 > .width_con .section01_box > .box > h3 { padding-bottom: var(--mrgn-x2); }
#visual.sections.section_01 > .width_con .section01_box > .box > h3::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-sub); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left { float: left; width: calc(67px * 4 + var(--mrgn-x2) * 3); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right { float: right; width: calc(67px * 8 + var(--mrgn-x2) * 7); background: var(--color-point); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc { position: relative; padding: var(--mrgn) 0; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-w-050); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc:last-child { padding-bottom: 0;}
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc:last-child::after { width: 0;}
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc > div { display: inline-block; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .number { width: 40px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .points { float: right; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .number h4,
#visual.sections.section_01 > .width_con .section01_box > .box.box_left .box_desc .points h4 { font-weight: 700; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right { position: relative; height: 247.75px; overflow: hidden; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right::before { z-index: 1; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right::after { position: absolute; content: ''; right: 0; top: 0; width: 50%; height: 100%; background: url(../img/bg_race.webp) 50% 50% no-repeat #ff7300; background-blend-mode: screen; background-size: cover; mask-image: linear-gradient(270deg, #000 0%, transparent 100%); mask-image: linear-gradient(270deg, #000 0%, transparent 100%); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half { width: 50%; display: inline-block; float: left; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half:nth-child(2) { position: relative; z-index: 2; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > h3 { padding-bottom: var(--mrgn-x2); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > h3::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: var(--color-sub); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .track_more {}
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .track_more h5 { display: inline-block; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .trac_desc { position: absolute; bottom: -193px; left: 69px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .trac_desc h5 {}
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .trac_desc h5 > span.circle { display: inline-block; width: 7px; height: 7px; background: #ff7300; border-radius: 50%; border: 2px solid #000; margin-bottom: 2px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .trac_desc h5 > span { vertical-align: middle; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > .track_svg { display: block; position: absolute; width: 87%; height: 100%; right: -23px; top: -48px; }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div { display: inline-block; padding-top: var(--mrgn); margin-right: var(--mrgn); }
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div > .value {}
#visual.sections.section_01 > .width_con .section01_box > .box.box_right .box_half > div > span { display: block; font-weight: 400; text-transform: uppercase; font-size: .75em; }

/* visual animation */
@keyframes text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(-40px 0 0 0);
	}
}

@keyframes blurredBanner {
	0% {
		filter: blur(4px);
	}
	60% {
		opacity: 1;
		filter: blur(4px);
	}
	100% {
		backdrop-filter: blur(4px);
		filter: blur(0px);
		opacity: 1;
	}
}


/* ad_01 section02 */
#ad_01.sections.section_02 { background: url(../img/bg_pattern_carbon.jpg) repeat; }
#ad_01.sections.section_02 > .width_con { padding: var(--mrgn) 0; }
#ad_01.sections.section_02 > .width_con > ul > li.cells { vertical-align: middle; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > strong { line-height: 60px; font-size: 2em; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div { position: relative; display: inline-block; width: 60px; height: 60px; background: #ff7300; border-radius: 5px; box-shadow: inset 0 1px 2px 0 #ccc, 0 4px 12px -4px rgba(0, 0, 0, 0.75); font-weight: 500; text-align: center; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div::before { position: absolute; top: 50%; left: 50%; content: ""; width: calc(100% - 2px); height: 100%; transform: translate(-50%, -50%); background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 49%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);-webkit-mix-blend-mode: overlay; mix-blend-mode: screen;}
#ad_01.sections.section_02 > .width_con > ul > li.cells > div::after { position: absolute; top: 50%; left: 50%; content: ""; width: calc(100% - 16px); height: 6px; transform: translate(-50%, -50%); box-shadow: 1px 0 0 0 #999, 2px 0 0 0 #fff, 3px 0 0 0 #000, -1px 0 0 0 #000, -2px 0 0 0 #fff, -3px 0 0 0 #999; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div > h3 { line-height: 60px; }
#ad_01.sections.section_02 > .width_con > ul > li.cells > div > span { position: absolute; left: 50%; bottom: 2px; color: var(--color-w-085); transform: translateX(-50%); font-weight: 400; text-transform: uppercase; font-size: .75em; }


/* driver section03  */
#driver.sections.section_03 { background: url(../img/bg_visual01.jpg) no-repeat; }
#driver.sections.section_03.piastri { background: url(../img/bg_visual02.jpg) no-repeat;}
#driver.sections.section_03 > .norris { position: absolute; left: 50%; top: 72px; width: 600px; height: 800px; background: url(../img/bg_norris.png) no-repeat; transform: translateX(-50%); }
#driver.sections.section_03 > .piastri { position: absolute; left: 50%; top: 72px; width: 600px; height: 800px; background: url(../img/bg_piastri.png) no-repeat; transform: translateX(-50%); display: none; }
#driver.sections.section_03 > .slide_toggle { display: none; position: absolute; right: 0; top: 0; width: 53px; height: 100%; background: var(--color-point); text-wrap: nowrap; cursor: pointer; transition: all .3s ease-in-out; box-shadow: 0 0 20px 0 var(--color-k-085); border-radius: 10px 0 0 10px; animation: driverSlide 1000ms ease; animation-play-state: paused; z-index: 2; }
#driver.sections.section_03 > .slide_toggle.selected { display: block; }
#driver.sections.section_03 > .slide_toggle .arrow {position: absolute; top: 50%; left: -30px; width: 30px; height: 60px; transform: translateY(-50%); background: var(--color-point); text-align: center; border-radius: 10px 0 0 10px; box-shadow: -10px 0 20px -10px var(--color-k-085); }
#driver.sections.section_03 > .slide_toggle .arrow::before { position: absolute; content: ''; width: 10px; height: 10px; right: 0; top: -10px; background-image: radial-gradient(circle at 0% 0%, transparent 9.9px, var(--color-point) 10px);}
#driver.sections.section_03 > .slide_toggle .arrow::after { position: absolute; content: ''; width: 10px; height: 10px; right: 0; bottom: -10px; background-image: radial-gradient(circle at 0% 100%, transparent 9.9px, var(--color-point) 10px); }
#driver.sections.section_03 > .slide_toggle .arrow > i { font-size: 25px; line-height: 60px; }
#driver.sections.section_03 > .slide_toggle > h3 { position: absolute; left: -117px; top: 345px; transform: rotate(90deg); }
#driver.sections.section_03 > .slide_toggle > h3.norris { left: -76px; }
#driver.sections.section_03 > .width_con {}
#driver.sections.section_03 > .width_con > ul.v_con { display: none; }
#driver.sections.section_03 > .width_con > ul.v_con.selected { display: block; }
#driver.sections.section_03 > .width_con > ul.v_con > li.cells {}
#driver.sections.section_03 > .width_con > ul.v_con > li.cells > ul.v_con { width: 412px; }
#driver.sections.section_03 > .width_con > ul.v_con > li.cells:nth-child(2) > ul.v_con { float: right; }
#driver.sections.section_03 > .width_con > ul.v_con > li.cells > ul.v_con > li.cells { width: 170px; background: var(--color-w-025); backdrop-filter: blur(1px); border-radius: 10px;  box-sizing: border-box; box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .35); }
#driver.sections.section_03 > .width_con > ul.v_con > li.cells > ul.v_con > li.cells::after { position: absolute; content: ''; left: 0; top: 0; width: 100%; height: 100%; mask-image: linear-gradient(-135deg, var(--color-w-025), var(--color-w-085)); box-shadow: inset 0 0 0 2px #fff; border-radius: 10px; } 
#driver.sections.section_03 > .width_con > ul.v_con > li.cells > ul.v_con > li.cells > .driver_desc { height: 100%; display: flex; flex-direction: column; justify-content: center; gap: var(--mrgn-half); }
#driver.sections.section_03 > .width_con > ul.v_con > li.cells > ul.v_con > li.cells > .driver_desc > i { font-size: 26px; }

@keyframes driverSlide {
	0% {
		width: 53px;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 53px;
	}
}





/* MCL38 section04 */
#machine.sections.section_04 { background: #000; }
#machine.sections.section_04 > .width_con { padding-bottom: var(--mrgn-x4); }
#machine.sections.section_04 > .machine_wrap { position: relative; background: url(../img/bg_machine02.jpg) no-repeat; background-size: cover; height: 1080px; }
#machine.sections.section_04 > .machine_wrap::before { position: absolute; content: ''; left: 0; top: 0; width: 100%; height: 30%; background: linear-gradient(var(--color-k-085), var(--color-k-000)) 90%; }
#machine.sections.section_04 > .machine_wrap::after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 30%; background: linear-gradient(0deg ,var(--color-k-085), var(--color-k-000)) 90%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns {}
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button { color: var(--color-point); background: #000; border: 2px solid var(--color-point); transition: all .25s linear; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button:hover { color: var(--color-sub); border-color: #ff9843; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con { position: absolute; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_01_con { left: 4%; top: 134%; width: 149.47px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_02_con { left: 34%; top: 143%; width: 102.83px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_03_con { left: 17%; top: 181%; width: 94.7px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_04_con { left: 48%; top: 187%; width: 83.86px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_05_con { left: 76%; top: 185%; width: 134.06px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con.btn_06_con { left: 79%; top: 234%; width: 255.78px; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button.selected { border-radius: 50%; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button.selected::before { position: absolute; content: ''; background: var(--color-point); left: 50%; top: 50%; width: 10px; height: 10px; border-radius: 50%; transform: translate(-50%, -50%); }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button.selected::after { position: absolute; content: ''; left: 50%; top: 50%; width: 70px; height: 70px; border: 6px solid var(--color-point); border-radius: 50%; animation: circle 1.5s infinite; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_btns > .btn_con > button.selected span { display: none; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_desc { position: absolute; right: 0; top: 0; opacity: 0; }
#machine.sections.section_04 > .machine_wrap > .width_con > .machine_desc.selected { opacity: 0; animation: blurredBanner .5s ease-in-out forwards; }

/* machine btn animation */
@keyframes circle {
	0%, 100% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(.5);
	}
	30% {
		opacity: 1;
	}
	60% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(1);
	}
}


/* store section05 */
#store.sections.section_05 { background: #181818; }
#store.sections.section_05 > .width_con {}
#store.sections.section_05 > .width_con > ul.v_con { padding-bottom: var(--mrgn-x2); }
#store.sections.section_05 > .width_con > ul.v_con > li.cells { border-radius: 10px; cursor: pointer; transition: all .25s ease-in-out; overflow: hidden; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:hover:after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 4px; background: var(--color-point); transition: inherit; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(1) { background: url(../img/card_store01.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(1):hover { background: url(../img/card_store02.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(2) { background: url(../img/card_store03.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(2):hover { background: url(../img/card_store04.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(3) { background: url(../img/card_store05.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(3):hover { background: url(../img/card_store06.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(4) { background: url(../img/card_store07.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > ul.v_con > li.cells:nth-child(4):hover { background: url(../img/card_store08.webp) center no-repeat; background-size: cover; }
#store.sections.section_05 > .width_con > .shop_now { display: inline-block; text-align: center; border: 2px solid var(--color-sub); background: #000; }


/* academy section06 */
#academy.sections.section_06 { background: url(../img/bg_abstract.webp) no-repeat; background-size: cover; background-attachment: fixed; }
#academy.sections.section_06 > .width_con {}
#academy.sections.section_06 > .width_con > ul.v_con {}
#academy.sections.section_06 > .width_con > ul.v_con > li.cells {}
#academy.sections.section_06 > .width_con > ul.v_con > li.cells > .read_more { display: inline-block; text-align: center; border: 2px solid var(--color-sub); background: #000; margin-top: var(--mrgn-x2) !important; }
#academy.sections.section_06 > .academy_right { position: absolute; right: 0; top: 0; width: 50%; height: 100%; background: url(../img/bg_academy.jpg) no-repeat; border-radius: 0 0 0 50px; }
#academy.sections.section_06 > .academy_right > i { position: absolute; left: 40px; bottom: 40px; font-size: 4em; color: var(--color-point); cursor: pointer; z-index: 1; }
#academy.sections.section_06 > .academy_right > i::after { position: absolute; content: ''; left: 50%; top: 50%; width: 80px; height: 80px; border: 3px solid var(--color-point); border-radius: 50%; animation: circle 1.5s infinite; }


/* app section07 */
#app.sections.section_07 { background: #303030; }
#app.sections.section_07 > .width_con {}
#app.sections.section_07 > .width_con > ul.v_con {}
#app.sections.section_07 > .width_con > ul.v_con > li.cells {}
#app.sections.section_07 > .width_con > ul.v_con > li.cells > img { position: absolute; left: 50%; top: -275px; width: 1448px; transform: translateX(-50%); }
#app.sections.section_07 > .width_con > ul.v_con > li.cells > .download_btns { margin-top: var(--mrgn-x2) !important; }
#app.sections.section_07 > .width_con > ul.v_con > li.cells > .download_btns > div { display: inline-block; width: 171px; cursor: pointer; margin-right: calc(var(--mrgn-x2) - 4px); box-shadow: 0 10px 30px -10px var(--color-k-065); transform: scale(1); border-radius: 10px; overflow: hidden; }
#app.sections.section_07 > .width_con > ul.v_con > li.cells > .download_btns > div:active { transform: scale(.975); }
#app.sections.section_07 > .width_con > ul.v_con > li.cells > .download_btns > div > img {}


/* meida section08 */
#media.sections.section_08 { background: url(../img/bg_divider.jpg) no-repeat center; background-size: cover; background-attachment: fixed; }
#media.sections.section_08::after { position: absolute; content: ''; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(0, var(--color-k-000), var(--color-k-050)); }
#media.sections.section_08 > .width_con { z-index: 1; }
#media.sections.section_08 > .width_con > ul.v_con {}
#media.sections.section_08 > .width_con > ul.v_con > li.cells {}
#media.sections.section_08 > .width_con > ul.v_con > li.cells img { object-fit: cover; width: 100%; height: 100%; }


/* news section09 */
#news.sections.section_09 { background: #181818; }
#news.sections.section_09 > .width_con {}
#news.sections.section_09 > .width_con > .news_detail {}
#news.sections.section_09 > .width_con > .news_detail > div { display: inline-block; vertical-align: middle; }
#news.sections.section_09 > .width_con > .news_detail > .img_con { width: 66.6666%; position: relative; border-radius: 10px; }
#news.sections.section_09 > .width_con > .news_detail > .img_con > .img_box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: all .25s ease-in-out; border-radius: inherit; overflow: hidden; }
#news.sections.section_09 > .width_con > .news_detail > .img_con > .img_box.active { opacity: 1; }
#news.sections.section_09 > .width_con > .news_detail > .img_con > .img_box > img { width: 100%; height: 100%; object-fit: cover; }
#news.sections.section_09 > .width_con > .news_detail > .news_con { width: 33.3333%; margin-left: -5px; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc { position: relative; padding: var(--mrgn) var(--mrgn-x2); background: #f6f6f6; cursor: pointer; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc:nth-child(1) { border-radius: 0 10px 0 0; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc:nth-child(2) {}
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc:nth-child(3) { border-radius: 0 0 10px 0; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc::before { position: absolute; content: ''; right: 0; top: 0; width: 100%; height: 100%; background: #f6f6f6; transition: all .25s ease-in-out; border-radius: inherit; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc::after { position: absolute; content: ''; left: -40px; top: 0; width: 4px; height: 100%; background: var(--color-point); opacity: 0; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc.active::before { position: absolute; content: ''; right: 0; top: 0; width: calc(100% + 40px); height: 100%; background: var(--color-w); transition: all .25s ease-in-out; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc.active::after { position: absolute; content: ''; left: -40px; top: 0; width: 6px; height: 100%; background: var(--color-point); opacity: 1; transition: all .15s ease-in-out; transition-delay: .25s; }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc > h4 { color: var(--color-point); font-weight: 600; margin-bottom: var(--mrgn-half); }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc > h5 { color: var(--color-k); margin-bottom: var(--mrgn-half); }
#news.sections.section_09 > .width_con > .news_detail > .news_con > .news_desc > h6 { color: var(--color-k-085); font-size: 1em; text-align: right; }